.badge-success {
  background-color: #5cb85c;
  color: #fff;
}

.badge-warning {
  background-color: #f0ad4e;
  color: #fff;
}

.badge-danger {
  background-color: #d9534f;
  color: #fff;
}

.badge-info {
  background-color: #5bc0de;
  color: #fff;
}

.badge-primary {
  background-color: #3a87ad;
  color: #fff;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}


.linear-gradient-top {
    background-color: #f6f6f7;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmVmZWZlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlZWVlZjAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(254, 254, 254)),color-stop(1, rgb(238, 238, 240)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(254, 254, 254) 0%,rgb(238, 238, 240) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(254, 254, 254) 0%,rgb(238, 238, 240) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(254, 254, 254) 0%,rgb(238, 238, 240) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .linear-gradient-top {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffefefe",endColorstr="#ffeeeef0",GradientType=0);
    }
}

.header {
    height: 39px;
}

#breadcrumContainer{
    border-radius : 5px;
    border: 1px solid rgb(238, 238, 240);
    min-height: 50px;
    width: 100%;
}

.breadcrumb {
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}


.statistics-header {
    height: 45px;
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
}

.margin0 {
    margin-left: 0px!important;
}

.gray-border{
  border:1px solid #e7e7e7;
}

.border-radius0{
  border-radius : 0px!important;
}

.searchbutton{
    height: 34px;
}

.table-toolbar {
    margin-bottom: 15px;
}

.control-group {
    margin-bottom: 15px;
}

table#dataTables-example {
    font-size: 12px;
}

footer {
    border-top: 1px solid #e7e7e7;
}

tr.form-group {
    height: 40px;
}

td {
    padding: 2px;
    vertical-align: middle;
}

input[type=checkbox] {
    max-width: 20px;
}

.btn-group {
    margin: 2px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}