.add-group-btn {
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 0px;
    position: absolute;
    right: 10px;
    top: 6px;
}

.content-wrapper{
    background-color: #054C6B;
    /* position: relative; */
}

.board {
    width: 100%;
    list-style: none;
    margin: 0px;
    height: 100%;
    padding: 0px;
}


.sidebar-menu li.header {
    line-height: 25px;
    padding-right: 5px;
    font-size: 16px;
    position: relative;
}

.sidebar-menu>li.pin-board-group:hover .edit-btn {
    display: inline-block;
}

.sidebar-menu>li.pin-board-group:hover .edit-btn:hover {
    color: white;
}

.edit-btn {
    display: none;
    color: gray;
    width: 25px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    top: 36%!important;
}

.modal-container {
    position: absolute;
    /* top: 0px; */
    /* left: 0px; */
    /* height: 100%; */
    /* width: 100%; */
    z-index: 100000;
}

.sidebar-form input {
    border-radius: 0px!important;
}

.sidebar-form .btn {
    border-radius: 0px!important;
}

.sidebar-form {
    border-radius: 0px!important;
}

.add-note-btn {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 10px;
    height: 40px;
}

textarea {
    resize: none;
}

.manage-group {
    max-width: 500px!important;
    width: 80%!important;
}

.manage-group .modal-header.nav-tabs-custom {
    padding: 0px;
}

.manage-group .modal-content {
    border: 0px;
}

.manage-group button.close {
    padding: 5px;
}

li.user.user-menu > #signOut {
    background-color: #054C6B;
    border: 0px;
    height: 40px;
    line-height: 20px;
    margin-top: 5px;
    padding: 10px;
    margin-right: 5px;
}