<div class="modal fade" id="add-group-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" align="center">
				Add a group
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Name</label>
					<input id="name" type="text" class="form-control" placeholder="name">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="saveGroup">Save</button>
				<button type="button" class="btn btn-default" id="close">Close</button>
			</div>
		</div>
	</div>
</div>