<div class="wrapper">
	<header class="main-header">
		<!-- Logo -->
		<a href="index.html" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><span class="glyphicon glyphicon-pushpin"></span></span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><span class="glyphicon glyphicon-pushpin"></span> Pin Notes</span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>

			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- User Account: style can be found in dropdown.less -->
					<li class="user user-menu">
						
						<a href="#" class="btn btn-default btn-flat" id="signOut">Sign out</a>
						
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- search form -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search...">
	              <span class="input-group-btn">
	                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
	                </button>
	              </span>
				</div>
			</form>
			<!-- /.search form -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<li class="header">Private Pin Boards</li>
				<li class="pin-board-group active" data-id="null">
					<a href="#" id="dashboardLink" data-id="null">
						<i class="fa fa-circle-o" data-id="null"></i>
						<span data-id="null">Default</span>
					</a>
				</li>
				<li class="header">
					<span>Group Pin Boards</span>
					<button id="addGroupBtn" class="btn bg-blue btn-flat add-group-btn pull-right">+</button>
				</li>
				<li class="treeview">
					<ul class="sidebar-menu" id="groupList">
					</ul>
				</li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Main content -->
		<ul class="board" id="pinBoard">

		</ul><!-- /.content -->
		<button id="pinNote" class="btn bg-blue btn-flat add-note-btn pull-right">
			<span class="glyphicon glyphicon-pushpin"></span> new
		</button>
	</div>
</div>
<!-- ./wrapper -->
<div class="modal-container">

</div>
