<div class="container dashboard">
    <div class="row profile">
        <div class="sidebar">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <!--					<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">-->
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Kartik Patel
                    </div>
<!--
                    <div class="profile-usertitle-job">
                        Developer
                    </div>
-->
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
<!--
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
-->
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->

                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i> Groups </a>
                        </li>
<!--
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i> Account Settings </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i> Tasks </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i> Help </a>
                        </li>
-->
                    </ul>
                </div>

                <!-- END MENU -->
            </div>
        </div><div class="pinboard">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header pull-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li><button type="button" class="btn btn-primary" id="pinNote">Pin a note</button></li>
                            <li><button type="button" class="btn btn-default" id="uploadNote">Upload</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="profile-content">
                <ul class="board" id="pinBoard">
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container pin-note-dialog" id="addNoteDialog">

</div>