<div class="container dashboard">
    <div class="row profile">
        <div class="sidebar">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <!--					<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">-->
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Kartik Patel
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm" id="manageProfile">Profile</button>
                    <button type="button" class="btn btn-danger btn-sm" id="manageGroup">Manage Groups</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->

                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="pin-board-group" data-id="null">
                            <a href="#" id="dashboardLink" data-id="null">
                                <i class="glyphicon glyphicon-home" data-id="null"></i> Dashboard </a>
                        </li>
                    </ul>
                </div>
                <div class="pinboardGroups">
                    Groups
                    <ul class="nav" id="groupList">

                    </ul>
                </div>

                <!-- END MENU -->
            </div>
        </div><div class="rightPage">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <button type="button" class="btn btn-primary" id="pinNote">
                                    <span class="glyphicon glyphicon-pushpin"></span> Pin a note
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" id="uploadNotes">
                                    <span class="glyphicon glyphicon-upload"></span> Upload notes
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="profile-content">
                <ul class="board" id="pinBoard">
                    
                </ul>
            </div>
            <div class="manage-group-page" id="manageGroupPage">
                
            </div>
            <div class="group-board" id="groupBoard">
                
            </div>
        </div>
    </div>
</div>
<div class="container note-dialog" id="addNoteDialog">

</div>
<div class="container note-dialog" id="uploadNoteDialog">

</div>
<div class="container note-dialog" id="joinGroupDialog">
    
</div>
<div class="container note-dialog" id="addGroupDialog">

</div>