<div class="card card-container" id="uploadDialogContainer">
    <div class="">
       
        <form id="upload" method="post" action="/uploadNotes" enctype="multipart/form-data">
			<div id="drop">
				Drop Here
				<a>Browse</a>
				<input type="file" name="upl" multiple />
			</div>

			<ul>
				<!-- The file uploads will be shown here -->
			</ul>
            <div class="text-center margin-top">
<!--                <button type="submit" class="btn btn-default" id="submitForm">Upload</button>-->
                <button type="button" class="btn btn-default" id="close">Close</button>
            </div>
		</form>
    </div>

    <!-- Upload dependencies -->
    <script src="/js/lib/uploader.js"></script>
</div>